@page
@using System.Data;
@model Nexxus15.Pages.Man_PagtoModel
@{
string ope = TempData["ope"].ToString() == "3" ? "Eliminar" : "Salvar";
var num_v = Convert.ToString(Convert.ToInt32(TempData["num_v"]) + 1);
string operacao = TempData["ope"].ToString() + "_" + TempData["cod"].ToString();
var dados = TempData["dad"];
if (dados != null)
{
    int col = ((System.Data.DataTable)dados).Columns.Count;
    int lin = ((System.Data.DataTable)dados).Rows.Count;
}
}
@{ 
    string cod_v = "";
    string des_v = "";
    string obs_v = "";
    if (TempData["num_v"] != null)
    {
        num_v = TempData["num_v"].ToString();
    }
    if (TempData["cod_v"] != null)
    {
        cod_v = TempData["cod_v"].ToString();
    }
    if (TempData["des_v"] != null)
    {
        des_v = TempData["des_v"].ToString();
    }
    if (TempData["obs_v"] != null)
    {
        obs_v = TempData["obs_v"].ToString();
    }
}

<!DOCTYPE html>
<html lang="pt_br">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="Profsa Informática - TIPSOFT - Emissão de NFC-e" />
    <meta name="author" content="Paulo Rogério Souza" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet" type="text/css" />

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css">

    <link rel="shortcut icon" href="img/tipsoft.ico" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
    </script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script type="text/javascript" language="javascript"
            src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <link href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />

    <link href="css/nexxus15.css" rel="stylesheet" type="text/css" media="screen" />
    <title>Pagamento - TipSoft Sistemas - Emissão de NFC-e</title>
</head>

<script>
    $(document).ready(function () {
        var ope = $('#sal').text();
        if (ope == "Eliminar") {
            $('#sal').css("background-color", "red");
        }

        $('#sal').click(function () {
            var ope = $('#sal').text();
            if (ope == "Eliminar") {
                let conf = confirm('Confirma exclusão de forma de pagamento informada ?');
                if (conf == false) {
                    return false;
                }
            }
        });

        $('#tab-1').DataTable({
            "pageLength": 25,
            "aaSorting": [
                [4, 'asc']
            ],
            "language": {
                "lengthMenu": "Demonstrar _MENU_ linhas por páginas",
                "zeroRecords": "Não existe registros a demonstar ...",
                "info": "Mostrada página _PAGE_ de _PAGES_",
                "infoEmpty": "Sem registros de Formas de Pagamento ...",
                "sSearch": "Buscar:",
                "infoFiltered": "(Consulta de _MAX_ total de linhas)",
                "oPaginate": {
                    sFirst: "Primeiro",
                    sLast: "Último",
                    sNext: "Próximo",
                    sPrevious: "Anterior"
                }
            }
        });
    });
</script>

<body class="log-1">
    <partial name="_Header" />
    <div class="container">
        <div class="qua-2">
            <div class="row qua-3">
                <div class="col-9 text-left">
                    <span>Manutenção de Formas de Pagamento</span>
                </div>
                <div class="col-3 text-center">
                    <form name="frmTelNov" action="~/Man_Pagto?ope=1&cod=0" method="POST">
                        <div class="text-center">
                            <button type="submit" class="bot-2" id="nov" name="novo"
                                    title="Mostra campos para criar novo Forma de Pagto no sistema">
                                <i class="fa fa-plus-circle fa-1g" aria-hidden="true"></i><span> Novo </span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <br /><hr />
            <form id="frmTelMan" name="frmTelMan" action="" method="POST">
                <div class="row">
                    <div class="col-md-1">
                        <label>Número</label>
                        <input type="text" class="form-control text-center" maxlength="3" id="num_v" name="num_v"
                               value="@num_v" disabled />
                    </div>
                    <div class="col-md-1">
                        <label>Código</label>
                        <input type="text" class="form-control text-center" maxlength="2" id="cod_v" name="cod_v"
                               value="@cod_v" required />
                    </div>
                    <div class="col-md-4">
                        <label>Descrição</label>
                        <input type="text" class="form-control" maxlength="50" id="des_v" name="des_v"
                               value="@des_v" required />
                    </div>
                    <div class="col-md-6">
                        <label>Observação</label>
                        <textarea class="form-control" rows="3" id="obs_v" name="obs_v" maxlength="500">@obs_v</textarea>
                    </div>
                </div>
                <br />
                <div class="row text-center">
                    <div class="col-md-3"></div>
                    <div class="col-md-6 text-center">
                        <button type="submit" id="sal" name="sal" value="@operacao" class="bot-1">@ope</button>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </form>
        </div>
        <br />
        <div class="tab-0 table-responsive">
            <table id="tab-1" class="table table-sm table-striped">
                <thead>
                    <tr>
                        <th width="10%">Alterar</th>
                        <th width="10%">Excluir</th>
                        <th width="10%">Número</th>
                        <th>Código</th>
                        <th>Descrição</th>
                        <th>Observação</th>
                    </tr>
                </thead>
                <tbody>
                    @{ if (dados != null)
                        {
                            foreach (DataRow linha in ((System.Data.DataTable)dados).Rows)
                            {
                                <tr>
                                    <td class="cor-1"><a href="~/Man_Pagto?ope=2&cod=@linha["Pk"].ToString()" title="Efetua alteração do registro aa linha"><i class="fa fa-pencil-square" aria-hidden="true"></i> Editar</a></td>
                                    <td class="cor-2"><a href="~/Man_Pagto?ope=3&cod=@linha["Pk"].ToString()" title="Efetua eliminação do registro da linha"><i class="fa fa-recycle" aria-hidden="true"></i> Eliminar</a></td>
                                    <td>@linha["Pk"].ToString()</td>
                                    <td>@linha["codigo"].ToString()</td>
                                    <td>@linha["descricao"].ToString()</td>
                                    <td>@linha["observacoes"].ToString()</td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
        <br />
    </div>

</body>
</html>
